@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

$colors: (
  red: hsl(348, 100%, 61%),
  blue: #498afb,
  orange: #fa8142,
  green: #09c372,
  purple: hsl(265, 50%, 60%),
  yellow: hsl(48, 100%, 67%),
  pink: #ff4088,
);

::-webkit-scrollbar {
  display: none;
}

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
    --#{$name}-dark: #{darken($color, 7%)};
    --#{$name}-light: #{lighten($color, 7%)};
  }

  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;

  --font-body: "Fira Code", sans-serif;
  --font-size: 20px;
  --background: var(--gray6);
  --text-color: var(--gray2);
  transition: all 0.3s ease;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-body);
  font-size: var(--font-size);
  display: flex;
  min-height: 100vh;
  max-width: 90vw;
  margin: 0 auto;
  flex-direction: column;

  // no selection
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
